{
  "env": {
    "browser": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "global-strict": 0,
    "no-use-before-define": 0,
    "quotes": [1, "single"],
    "no-underscore-dangle": 0
  },
  "globals": {
    "requirejs": true,
    "define": true,
    "_": true
  }
}